@model Custom_Remote_Validations.Models.UserModel
@{
    ViewBag.Title = "CustomValidation";
}

<h2>CustomValidation</h2>
@using(Html.BeginForm())
            {
                <div>
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.BirthDay)
                    @Html.
                </div>
            }
