
@{
    ViewBag.Title = "UserStatus";
}

<h2>User Status</h2>
<br />
<h1 style="color:green;">@ViewBag.Status</h1>
<br />
<p>Users Last Name : @TempData["lastname"] and Age is : @TempData["age"]</p>

