@model IEnumerable<MVC_CodeFirst.Models.Movie>
@{
    ViewBag.Title = "Movies Released in Year";
}
<h2>Movies Released in Selected Year</h2>

<table border="1">
    <tr>
        <th>Movie Name</th>
        <th>Director</th>
        <th>Release Date</th>
    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Moviename</td>
            <td>@movie.DirectorName</td>
            <td>@movie.DateofRelease.ToShortDateString()</td>
        </tr>
    }
</table>
